@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="affairId" name="事务id" value="${item.affairId}" underline="true"/>
                            <#input id="idNumber" name="身份证号码" value="${item.idNumber}" underline="true"/>
                            <#input id="adminId" name="管理员编号" value="${item.adminId}" underline="true"/>
                            <#input id="creatTime" name="请求时间" value="${item.creatTime}" />
                </div>

                <div class="col-sm-6">
                            <#input id="content" name="具体内容" value="${item.content}" underline="true"/>
                            <#input id="imageLink" name="图片描述" value="${item.imageLink}" underline="true"/>
                            <#input id="receipt" name="回执

内容" value="${item.receipt}" underline="true"/>
                            <#input id="solved" name="是否解决" value="${item.solved}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="AffairInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="AffairInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/affairmanage/affair/affair_info.js"></script>
@}
