<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.system.dao.AffairMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.system.model.Affair">
        <id column="affair_id" property="affairId" />
        <result column="id_number" property="idNumber" />
        <result column="admin_id" property="adminId" />
        <result column="creat_time" property="creatTime" />
        <result column="content" property="content" />
        <result column="title" property="title" />
        <result column="receipt" property="receipt" />
        <result column="solved" property="solved" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        affair_id, id_number, admin_id, creat_time, content, title, receipt, solved
    </sql>
    <select id="list" resultType="map">
        select affair_id as affairId,id_number as idNumber,admin_id as adminId,creat_time as creatTime,content,title,receipt,solved from info_affair
        <if test="condition != null and condition != ''">
            where title like CONCAT('%',#{condition},'%')
        </if>
    </select>

    <select id="selectByIdNum" resultType="cn.stylefeng.guns.modular.system.model.Affair">
        SELECT * FROM info_affair
        <if test="idNumber != null">
            WHERE id_number=#{idNumber}
        </if>
        ORDER BY creat_time desc
    </select>
</mapper>
