<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.system.dao.InfoUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.system.model.InfoUser">
        <id column="id" property="id" />
        <result column="id_number" property="idNumber" />
        <result column="name" property="name" />
        <result column="gender" property="gender" />
        <result column="phone" property="phone" />
        <result column="age" property="age" />
        <result column="race" property="race" />
        <result column="job" property="job" />
        <result column="room_id" property="roomId" />
        <result column="passwd" property="passwd" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id_number, name, gender, phone, age, race, job, room_id, passwd
    </sql>

    <select id="list" resultType="map">
        select id,id_number as idNumber,name,gender,phone,age,race,job,room_id as roomId,passwd  from info_user
        <if test="condition != null and condition != ''">
            where name like CONCAT('%',#{condition},'%') or id_number like CONCAT('%',#{condition},'%')
        </if>
    </select>

    <select id="getSexAndAgeCharts" resultType="map">
        <if test="type != null and type != ''and type=='age'">
            select sum(case when age &lt;=16 then 1 else 0 end ) age1,
            sum(case when age>16 and age &lt;=25 then 1 else 0 end ) age2,
            sum(case when age>25 and age &lt;=35 then 1 else 0 end ) age3,
            sum(case when age>35 and age &lt;=45 then 1 else 0 end ) age4,
            sum(case when age>45 and age &lt;=55 then 1 else 0 end ) age5,
            sum(case when age>55 and age &lt;=65 then 1 else 0 end ) age6,
            sum(case when age>65 and age &lt;=75 then 1 else 0 end ) age7,
            sum(case when age>75  then 1 else 0 end ) age8
        </if>
        <if test="type != null and type != ''and type=='sex'">
            select sum(case when gender=1 then 1 else 0 end ) 男,
            sum(case when gender=0 then 1 else 0 end ) 女
        </if>
        from info_user
    </select>
</mapper>
